repo/trunk/Lib_NCI_MM/ReporteService/ReporteService.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.profuturo/iib/nci/Reportes/ReporteService/v1/types" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mod="http://mx.profuturo/nci/modelo" xmlns:tns="http://mx.profuturo/iib/nci/Reportes/ReporteService/v1/types">
	
	<xsd:import namespace="http://mx.profuturo/nci/modelo" schemaLocation="../modelo/ModeloNCI.xsd"/>

	<xsd:element ibmSchExtn:docRoot="true" name="obtenerReporteRequest" type="tns:obtenerReporteReq"/>
	<xsd:element ibmSchExtn:docRoot="true" name="obtenerReporteResponse" type="tns:obtenerReporteResp"/>

	<xsd:complexType name="obtenerReporteReq">
		<xsd:sequence>
			<xsd:element name="idReporte" type="xsd:int"/>
			<xsd:element name="folio" type="xsd:string"/>
			<xsd:element minOccurs="0" name="parametros" type="tns:listaParametros"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="obtenerReporteResp">
		<xsd:complexContent>
			<xsd:extension base="mod:ResponseBase">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="nombre" type="xsd:string"/>
					<xsd:element minOccurs="0" name="archivo" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Parametro">
		<xsd:sequence>
			<xsd:element name="nombre" type="xsd:string"/>
			<xsd:element name="valor" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="listaParametros">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="parametro" type="tns:Parametro"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>