D16_TelcelLib/imei/wmb/imei.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/di/sds/gsm/sistemasadministrativos/imei" xmlns="http://www.telcel.com.mx/di/sds/gsm/sistemasadministrativos/imei" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element ibmSchExtn:docRoot="true" name="request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="response" type="ResponseType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="error" type="ErrorType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string"/>
			<xsd:element name="region" type="imeiRegionFormato"/>
			<xsd:element name="imei" type="imeiFormato"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ResponseType">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string"/>
			<xsd:element name="claveSap" type="xsd:string"/>
			<xsd:element name="marca" type="xsd:string"/>
			<xsd:element name="modelo" type="xsd:string"/>
			<xsd:element name="grupoArticulo" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ErrorType">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string"/>
			<xsd:element name="descripcion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="imeiRegionFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|R0[1-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="imeiFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|[0-9]{15}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>