GestionTramitesLib/GestionTramitesComun.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://www.telcel.com.mx/gestiontramites/comun/types" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:this="http://www.telcel.com.mx/gestiontramites/comun/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element ibmSchExtn:docRoot="true" name="gestionTramitesWMBException" type="this:GestionTramitesWMBException"/>

	<xsd:complexType name="GestionTramitesWMBException">
		<xsd:sequence>
			<xsd:element name="servicio" type="xsd:string"/>
			<xsd:element name="operacion" type="xsd:string"/> <!-- Para m2k FUNCTION_ACTION -->
			<xsd:element name="error" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema><!-- catalogo de servicios --><!-- 1. M2K --><!-- 2. SIANTEL --><!-- 3. SMS --><!-- 4. IMEI --><!-- 5. RN Determinar Adeudo --><!-- 6. RN Determinar Region Perfil --><!-- 7. RN Determinar Prevalidacion --><!-- 8. RN Reasignar Tramite -->