D16_GestionTramitesLib/infoCliente/GestionTramitesInfoCliente.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/infoCliente/schema" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:this="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/infoCliente/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:comun="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema">

	<xsd:import namespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema" schemaLocation="../comun/GestionTramitesComun.xsd" />
	
	<xsd:element ibmSchExtn:docRoot="true" name="consultarDatosClienteRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="request" type="this:ConsultarDatosClienteRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarDatosClienteResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="response" type="this:ConsultarDatosClienteResponseType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarDatosCobranzaRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="request" type="this:ConsultarDatosCobranzaRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarDatosCobranzaResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="response" type="this:ConsultarDatosCobranzaResponseType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ConsultarDatosClienteRequestType">
		<xsd:sequence>
			<xsd:element name="usuarioM2K" type="comun:alfanumericoFormato"/>
			<xsd:element name="telefono" type="comun:telefonoFormato"/>
			<xsd:element name="sistemaSiantel" type="xsd:string"/>
			<xsd:element name="regionCAC" type="comun:numericoFormato"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConsultarDatosClienteResponseType">
		<xsd:complexContent>
			<xsd:extension base="comun:ResponseBase">
				<xsd:sequence>
					<xsd:element name="nombreCliente" type="xsd:string"/>
					<xsd:element name="cuenta" type="comun:cuentaFormato"/>
					<xsd:element name="estatusCobranza" type="xsd:string"/>
					<xsd:element name="estatusCuenta" type="xsd:string"/>
					<xsd:element name="saldoActual" type="comun:decimalFormato"/>
					<xsd:element name="saldoEstimado" type="comun:decimalFormato"/>
					<xsd:element name="saldoMes" type="comun:decimalFormato"/>
					<xsd:element name="importe" type="comun:decimalFormato"/>
					<xsd:element name="facturas" type="this:ArrayOfFactura"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ConsultarDatosCobranzaRequestType">
		<xsd:complexContent>
			<xsd:extension base="comun:RequestBase">
				<xsd:sequence>
					<xsd:element name="telefono" type="comun:telefonoFormato"/>
					<xsd:element name="cuenta" type="comun:cuentaFormato"/>					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ConsultarDatosCobranzaResponseType">
		<xsd:sequence>
			<!-- RETC2 C -->
			<xsd:element name="limiteCredito" type="comun:decimalFormato"/>
			<!-- CPAST C -->
			<xsd:element name="accionCobranza" type="xsd:string"/>
			<xsd:element name="motivoCobranza" type="xsd:string"/>
			<!-- REACT C -->
			<xsd:element name="montoMinimoPagar" type="comun:decimalFormato"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="FacturaType">
		<xsd:sequence>
			<xsd:element name="fechaFactura" type="comun:fechaFormato"/>
			<xsd:element name="importeFactura" type="comun:decimalFormato"/>
			<xsd:element name="ultimaFechaFactura" type="comun:fechaFormato"/>
		</xsd:sequence>
		<xsd:attribute name="indice" type="xsd:integer"/>
	</xsd:complexType>
	
	<xsd:complexType name="ArrayOfFactura">
		<xsd:sequence>
			<xsd:element name="factura" type="this:FacturaType" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>