D16_GestionTramitesLib/comentarios/GestionTramitesComentarios.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:comun="http://www.telcel.com.mx/gestiontramites/wmb/comun/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://www.telcel.com.mx/gestiontramites/wmb/comentarios" xmlns:types="http://www.telcel.com.mx/gestiontramites/wmb/comentarios/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionTramitesComentarios" targetNamespace="http://www.telcel.com.mx/gestiontramites/wmb/comentarios">
	<documentation>
		<appinfo source="WMQI_APPINFO">
			<MRWSDLAppInfo imported="true">
				<binding hasEncoding="false" imported="true" name="GestionTramitesComentariosBinding" originalBindingStyle="document"/>
			</MRWSDLAppInfo>
		</appinfo>
	</documentation>
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.telcel.com.mx/gestiontramites/wmb/comentarios/schema" schemaLocation="GestionTramitesComentarios.xsd"/>
			<xsd:import namespace="http://www.telcel.com.mx/gestiontramites/wmb/comun/schema" schemaLocation="../comun/GestionTramitesComun.xsd"/>
		</xsd:schema>
	</types>
	<message name="guardarComentarioMsg">
		<part element="types:guardarComentarioRequest" name="parameters"/>
	</message>
	<message name="guardarComentarioMsgResponse">
		<part element="types:guardarComentarioResponse" name="parameters"/>
	</message>
	<message name="consultarComentariosMsg">
		<part element="types:consultarComentariosRequest" name="parameters"/>
	</message>
	<message name="consultarComentariosMsgResponse">
		<part element="types:consultarComentariosResponse" name="parameters"/>
	</message>
	<message name="enviarSMSMsg">
		<part element="types:enviarSMSRequest" name="parameters"/>
	</message>
	<message name="enviarSMSMsgResponse">
		<part element="types:enviarSMSResponse" name="parameters"/>
	</message>
	<message name="gestionTramitesWMBExceptionMsg">
		<part element="comun:gestionTramitesWMBException" name="fault"/>
	</message>
	<portType name="GestionTramitesComentariosPort">
		<operation name="guardarComentario">
			<input message="this:guardarComentarioMsg"/>
			<output message="this:guardarComentarioMsgResponse"/>
			<fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
		</operation>
		<operation name="consultarComentarios">
			<input message="this:consultarComentariosMsg"/>
			<output message="this:consultarComentariosMsgResponse"/>
			<fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
		</operation>
		<operation name="enviarSMS">
			<input message="this:enviarSMSMsg"/>
			<output message="this:enviarSMSMsgResponse"/>
			<fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
		</operation>
	</portType>
	<binding name="GestionTramitesComentariosBinding" type="this:GestionTramitesComentariosPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="guardarComentario">
			<soap:operation soapAction="http://www.telcel.com.mx/gestiontramites/wmb/comentarios/guardarComentario"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="GestionTramitesWMBException">
				<soap:fault name="GestionTramitesWMBException" use="literal"/>
			</fault>
		</operation>
		<operation name="consultarComentarios">
			<soap:operation soapAction="http://www.telcel.com.mx/gestiontramites/wmb/comentarios/consultarComentarios"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="GestionTramitesWMBException">
				<soap:fault name="GestionTramitesWMBException" use="literal"/>
			</fault>
		</operation>
		<operation name="enviarSMS">
			<soap:operation soapAction="http://www.telcel.com.mx/gestiontramites/wmb/comentarios/enviarSMS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="GestionTramitesWMBException">
				<soap:fault name="GestionTramitesWMBException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="GestionTramitesComentariosService">
		<port binding="this:GestionTramitesComentariosBinding" name="GestionTramitesComentariosHTTPSOAPPort">
			<soap:address location="http://localhost:7800/gestiontramites/wmb/ComentariosService"/>
		</port>
	</service>
</definitions>
