D16_GestionTramitesLib/comentarios/GestionTramitesComentarios.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comentarios/schema" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:this="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comentarios/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:comun="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema">

	<xsd:import namespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema" schemaLocation="../comun/GestionTramitesComun.xsd" />
	
	<xsd:element ibmSchExtn:docRoot="true" name="guardarComentarioRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="request" type="this:GuardarComentarioRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="guardarComentarioResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="response" type="this:GuardarComentarioResponseType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarComentariosRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="request" type="this:ConsultarComentariosRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarComentariosResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="response" type="this:ConsultarComentariosResponseType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GuardarComentarioRequestType">
		<xsd:complexContent>
			<xsd:extension base="comun:RequestBase">
				<xsd:sequence>
					<xsd:element name="telefono" type="comun:telefonoFormato"/>
					<xsd:element name="comentario" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="GuardarComentarioResponseType">
		<xsd:complexContent>
			<xsd:extension base="comun:ResponseBase"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ConsultarComentariosRequestType">
		<xsd:complexContent>
			<xsd:extension base="comun:RequestBase">
				<xsd:sequence>
					<xsd:element name="telefono" type="comun:telefonoFormato"/>
					<xsd:element name="cuenta" type="comun:cuentaFormato"/>
					<xsd:element name="fechaInicio" type="comun:fechaFormato"/>
					<xsd:element name="fechaFin" type="comun:fechaFormato"/>
					<xsd:element name="referencia" type="this:ReferenciaComentariosType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>	
	</xsd:complexType>

	<xsd:complexType name="ConsultarComentariosResponseType">
		<xsd:complexContent>
			<xsd:extension base="comun:ResponseBase">
				<xsd:sequence>
					<xsd:element name="comentarios" type="this:ArrayOfComentario" minOccurs="0"/>
					<xsd:element name="referencia" type="this:ReferenciaComentariosType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- consultar comentarios -->
	<xsd:complexType name="ComentarioType">
		<xsd:sequence>
			<xsd:element name="tipoComentario" type="xsd:string"/>
			<xsd:element name="fechaEfectiva" type="comun:fechaFormato"/>
			<xsd:element name="usuario" type="comun:alfanumericoFormato"/>
			<xsd:element name="comentario" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ArrayOfComentario">
		<xsd:sequence>
			<xsd:element name="comentario" type="this:ComentarioType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
		
	<xsd:complexType name="ReferenciaComentariosType">
		<xsd:sequence>
			<xsd:element name="tipoComentario" type="comun:alfanumericoFormato"/>
			<xsd:element name="fechaComentario" type="comun:fechaPivFormato"/>
			<xsd:element name="horaAudit" type="comun:numericoFormato"/>
			<xsd:element name="sec" type="comun:secFormato"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>