repo/trunk/NCI_WSDLesb/WSDL/frameworkiib/iibException/IIBException.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://mx.profuturo/iib/iibException/IIBException"
	xmlns:this="http://mx.profuturo/iib/iibException/IIBException" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  	<!--
  	<xsd:complexType name="IIBException">
		<xsd:sequence>
			<xsd:element name="errorCode" type="xsd:string" nillable="false"></xsd:element>
			<xsd:element name="description" type="xsd:string" nillable="false"></xsd:element>
			<xsd:element name="errorActor" type="xsd:string" nillable="false"></xsd:element>
			<xsd:element name="exception" type="xsd:string" nillable="false"></xsd:element>
			<xsd:element name="compensation" type="xsd:string" nillable="false"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	-->
	
	<xsd:complexType name="IIBException">
		<xsd:sequence>
			<xsd:element name="servicio" type="xsd:string"/>
			<xsd:element name="operacion" type="xsd:string"/> <!-- Para m2k FUNCTION_ACTION -->
			<xsd:element name="errores" type="this:ArrayOfError" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayOfError">
		<xsd:sequence>
			<xsd:element name="error" type="this:Error" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Error">
		<xsd:sequence>
			<xsd:element name="tipo" type="xsd:string" />
			<xsd:element name="codigo" type="xsd:string" />
			<xsd:element name="descripcion" type="xsd:string" />			
			<xsd:element name="servicioOrigen" type="xsd:string" />
			<xsd:element name="trace" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="iibException" type="this:IIBException"></xsd:element>
</xsd:schema>