project/D16_GestionTramitesLib/notificaciones/GestionTramitesNotificaciones.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/notificaciones/schema" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:this="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/notificaciones/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:comun="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema">

	<xsd:import namespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema" schemaLocation="../comun/GestionTramitesComun.xsd" />
	
	<xsd:element ibmSchExtn:docRoot="true" name="enviarSMSRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="request" type="this:EnviarSMSRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="enviarSMSResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="response" type="this:EnviarSMSResponseType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="EnviarSMSRequestType">
		<xsd:sequence>
			<xsd:element name="telefono" type="comun:telefonoFormato"/>
			<xsd:element name="texto" type="comun:smsFormato"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EnviarSMSResponseType">
		<xsd:complexContent>
			<xsd:extension base="comun:ResponseBase"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>