repo/trunk/Lib_BUC_Atomicos/RemoteFiles/MedioContactoService.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.delegate.web.clienteUnico.profuturo.com.mx/MedioContacto" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://ws.delegate.web.clienteUnico.profuturo.com.mx/MedioContacto">
  <xsd:element ibmSchExtn:docRoot="true" name="ClienteUnicoProfGNPSOAException" type="tns:ClienteUnicoProfGNPSOAException"/>
  <xsd:element ibmSchExtn:docRoot="true" name="addEmail" type="tns:addEmail"/>
  <xsd:element ibmSchExtn:docRoot="true" name="addEmailResponse" type="tns:addEmailResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="addRedSocial" type="tns:addRedSocial"/>
  <xsd:element ibmSchExtn:docRoot="true" name="addRedSocialResponse" type="tns:addRedSocialResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="addTelefono" type="tns:addTelefono"/>
  <xsd:element ibmSchExtn:docRoot="true" name="addTelefonoResponse" type="tns:addTelefonoResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getEmailById" type="tns:getEmailById"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getEmailByIdResponse" type="tns:getEmailByIdResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getEmailPersona" type="tns:getEmailPersona"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getEmailPersonaByContrato" type="tns:getEmailPersonaByContrato"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getEmailPersonaByContratoResponse" type="tns:getEmailPersonaByContratoResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getEmailPersonaResponse" type="tns:getEmailPersonaResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getRedSocial" type="tns:getRedSocial"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getRedSocialResponse" type="tns:getRedSocialResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getRedesSocialesContrato" type="tns:getRedesSocialesContrato"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getRedesSocialesContratoResponse" type="tns:getRedesSocialesContratoResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getRedesSocialesPersona" type="tns:getRedesSocialesPersona"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getRedesSocialesPersonaResponse" type="tns:getRedesSocialesPersonaResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getTelefonoById" type="tns:getTelefonoById"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getTelefonoByIdResponse" type="tns:getTelefonoByIdResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getTelefonoPersona" type="tns:getTelefonoPersona"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getTelefonoPersonaByContrato" type="tns:getTelefonoPersonaByContrato"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getTelefonoPersonaByContratoResponse" type="tns:getTelefonoPersonaByContratoResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="getTelefonoPersonaResponse" type="tns:getTelefonoPersonaResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="inactivaEmail" type="tns:inactivaEmail"/>
  <xsd:element ibmSchExtn:docRoot="true" name="inactivaEmailResponse" type="tns:inactivaEmailResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="inactivaRedSocial" type="tns:inactivaRedSocial"/>
  <xsd:element ibmSchExtn:docRoot="true" name="inactivaRedSocialResponse" type="tns:inactivaRedSocialResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="inactivaTelefono" type="tns:inactivaTelefono"/>
  <xsd:element ibmSchExtn:docRoot="true" name="inactivaTelefonoResponse" type="tns:inactivaTelefonoResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="updateCorreo" type="tns:updateCorreo"/>
  <xsd:element ibmSchExtn:docRoot="true" name="updateCorreoResponse" type="tns:updateCorreoResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="updateRedSocial" type="tns:updateRedSocial"/>
  <xsd:element ibmSchExtn:docRoot="true" name="updateRedSocialResponse" type="tns:updateRedSocialResponse"/>
  <xsd:element ibmSchExtn:docRoot="true" name="updateTelefono" type="tns:updateTelefono"/>
  <xsd:element ibmSchExtn:docRoot="true" name="updateTelefonoResponse" type="tns:updateTelefonoResponse"/>
  <xsd:complexType name="getEmailPersona">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idPersona"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="idPersona">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idPersona" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getEmailPersonaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:emailPersonaOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="emailPersonaOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:emailPersonaCompView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="response">
    <xsd:sequence>
      <xsd:element maxOccurs="100" minOccurs="0" name="messages" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="emailPersonaCompView">
    <xsd:sequence>
      <xsd:element maxOccurs="100" minOccurs="0" name="emailPersona" nillable="true" type="tns:emailPersonaView"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="emailPersonaView">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element name="idContrato" type="xsd:long"/>
      <xsd:element name="idMedioContacto" type="xsd:long"/>
      <xsd:element name="idPersona" type="xsd:long"/>
      <xsd:element minOccurs="0" name="lineaNegocio" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="rol" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="tipoMail" type="tns:elemento"/>
      <xsd:element name="valido" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="elemento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="clave" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClienteUnicoProfGNPSOAException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cveAplicacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cveCategoria" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cveExceptionSistema" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fechaExcepcionSistema" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="idCategoria" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idSeveridad" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensajeExceptionAplicacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="mensajeExceptionSistema" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreServicio" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRedesSocialesContrato">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idPersona"/>
      <xsd:element minOccurs="0" name="arg1" type="tns:idContrato"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="idContrato">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idContrato" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRedesSocialesContratoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:redesSocialesOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="redesSocialesOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:redesSocialesListView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="redesSocialesListView">
    <xsd:sequence>
      <xsd:element maxOccurs="100" minOccurs="0" name="listRedSocialView" nillable="true" type="tns:redesSocialesView"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="redesSocialesView">
    <xsd:sequence>
      <xsd:element name="idMedioContacto" type="xsd:long"/>
      <xsd:element name="idcontrato" type="xsd:long"/>
      <xsd:element name="idpersona" type="xsd:long"/>
      <xsd:element minOccurs="0" name="lineaNegocio" type="tns:elemento"/>
      <xsd:element name="preferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="rol" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="tipoRedSocial" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="valor" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getTelefonoPersona">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idPersona"/>
      <xsd:element minOccurs="0" name="arg1" type="tns:lineaNegocioIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineaNegocioIn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="indicadorLineaNegocio" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getTelefonoPersonaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:telefonoPersonaOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="telefonoPersonaOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:telefonoPersonaCompView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="telefonoPersonaCompView">
    <xsd:sequence>
      <xsd:element maxOccurs="100" minOccurs="0" name="telefonoPersona" nillable="true" type="tns:telefonoPersonaView"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="telefonoPersonaView">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="claveNacional" type="xsd:string"/>
      <xsd:element minOccurs="0" name="extension" type="xsd:string"/>
      <xsd:element name="idContrato" type="xsd:long"/>
      <xsd:element name="idMedioContacto" type="xsd:long"/>
      <xsd:element name="idPersona" type="xsd:long"/>
      <xsd:element minOccurs="0" name="lineaNegocio" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="numero" type="xsd:string"/>
      <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="rol" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="sms" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tipoTelefono" type="tns:elemento"/>
      <xsd:element name="valido" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRedSocial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idMedioContacto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="idMedioContacto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="usuarioModifica" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRedSocialResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:redSocialOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="redSocialOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:redSocialView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="redSocialView">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tipoRedSocial" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="valido" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="valor" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRedesSocialesPersona">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idPersona"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getRedesSocialesPersonaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:redesSocialesOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateRedSocial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idMedioContacto"/>
      <xsd:element minOccurs="0" name="arg1" type="tns:preferente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="preferente">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idpreferente" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateRedSocialResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:updateRedSocialOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateRedSocialOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:updateRedSocialView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="updateRedSocialView">
    <xsd:sequence>
      <xsd:element name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
      <xsd:element name="resultado" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inactivaEmail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:updateMedioContacto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateMedioContacto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="usuarioModifica" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inactivaEmailResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:medioContactoOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="medioContactoOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:idMedioContactoView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="idMedioContactoView">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element name="idMedioContacto" type="xsd:long"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="getTelefonoPersonaByContrato">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idContrato"/>
      <xsd:element minOccurs="0" name="arg1" type="tns:idPersona"/>
      <xsd:element minOccurs="0" name="arg2" type="tns:lineaNegocioIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getTelefonoPersonaByContratoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:telefonoPersonaOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addTelefono">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:telefonoAdd"/>
      <xsd:element minOccurs="0" name="arg1" type="tns:usuarioModifica"/>
      <xsd:element minOccurs="0" name="arg2" type="tns:lineaNegocioIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="telefonoAdd">
    <xsd:complexContent>
      <xsd:extension base="tns:mapeoCatalogosIn">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="claveNacional" type="xsd:string"/>
          <xsd:element minOccurs="0" name="extension" type="xsd:string"/>
          <xsd:element minOccurs="0" name="idContrato" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idPersona" type="xsd:long"/>
          <xsd:element minOccurs="0" name="numero" type="xsd:string"/>
          <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="sms" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="tipoTelefono" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="mapeoCatalogosIn">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="usuarioModifica">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuarioModifica" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addTelefonoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:medioContactoOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inactivaRedSocial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idMedioContacto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inactivaRedSocialResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:inactivarRedSocialOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inactivarRedSocialOut">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="response" type="tns:inactivarRedSocialView"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inactivarRedSocialView">
    <xsd:sequence>
      <xsd:element name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
      <xsd:element name="resultado" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getTelefonoById">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idMedioContacto"/>
      <xsd:element minOccurs="0" name="arg1" type="tns:lineaNegocioIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getTelefonoByIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:telefonoOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="telefonoOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:telefonoView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="telefonoView">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="claveNacional" type="xsd:string"/>
      <xsd:element minOccurs="0" name="compania" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estado" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="extension" type="xsd:string"/>
      <xsd:element name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="municipio" type="xsd:string"/>
      <xsd:element minOccurs="0" name="numero" type="xsd:string"/>
      <xsd:element minOccurs="0" name="poblacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="sms" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tipoCofetel" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="tipoTelefono" type="tns:elemento"/>
      <xsd:element name="valido" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addRedSocial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:addRedesSociales"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addRedesSociales">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idContrato" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idPersona" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idpreferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tipoRedSocial" type="xsd:string"/>
      <xsd:element minOccurs="0" name="usuarioModifica" type="xsd:string"/>
      <xsd:element minOccurs="0" name="valor" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addRedSocialResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:agregarRedSocialOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="agregarRedSocialOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:agregarRedSocialView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="agregarRedSocialView">
    <xsd:sequence>
      <xsd:element name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="mensaje" type="xsd:string"/>
      <xsd:element name="resultado" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateTelefono">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:telefonoUpdate"/>
      <xsd:element minOccurs="0" name="arg1" type="tns:lineaNegocioIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="telefonoUpdate">
    <xsd:complexContent>
      <xsd:extension base="tns:mapeoCatalogosIn">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="idMedioContacto" type="xsd:long"/>
          <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="sms" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="tipoTelefono" type="xsd:string"/>
          <xsd:element minOccurs="0" name="usuarioModifica" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="updateTelefonoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:medioContactoOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCorreo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:emailUpdate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="emailUpdate">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tipoEmail" type="xsd:string"/>
      <xsd:element minOccurs="0" name="usuarioModifica" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCorreoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:medioContactoOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getEmailById">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idMedioContacto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getEmailByIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:emailOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="emailOut">
    <xsd:complexContent>
      <xsd:extension base="tns:response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="response" type="tns:emailView"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="emailView">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMedioContacto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tipoMail" type="tns:elemento"/>
      <xsd:element minOccurs="0" name="valido" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="valor" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getEmailPersonaByContrato">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:idContratoCliente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="idContratoCliente">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idContrato" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idPersona" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getEmailPersonaByContratoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:emailPersonaOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inactivaTelefono">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:updateMedioContacto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inactivaTelefonoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:medioContactoOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addEmail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="tns:emailAdd"/>
      <xsd:element minOccurs="0" name="arg1" type="tns:usuarioModifica"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="emailAdd">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idContrato" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idPersona" type="xsd:long"/>
      <xsd:element minOccurs="0" name="preferente" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tipoEmail" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="addEmailResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="tns:medioContactoOut"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>