repo/trunk/testApp/messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="messages" type="listOfMessage"/>
	
	<xsd:complexType name="listOfMessage">
		<xsd:sequence>
			<xsd:element name="message" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="messageType">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
