repo/trunk/Lib_NCI_MM/CatalogoService/CatalogoService.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.profuturo/iib/nci/Administracion/CatalogoService/v1/types" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mod="http://mx.profuturo/nci/modelo" xmlns:tns="http://mx.profuturo/iib/nci/Administracion/CatalogoService/v1/types">
	
	<xsd:import namespace="http://mx.profuturo/nci/modelo" schemaLocation="../modelo/ModeloNCI.xsd"/>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarCatalogoRequest" type="tns:consultarCatalogoReq"/>	
	<xsd:element ibmSchExtn:docRoot="true" name="consultarCatalogoResponse" type="tns:consultarCatalogoResp"/>
	
	<xsd:complexType name="consultarCatalogoReq">
		<xsd:sequence>
			<xsd:element name="idTipoCatalogo" type="xsd:short"/>
			<xsd:element name="idLineaNegocio" type="xsd:short"/>
			<xsd:element minOccurs="0" name="id" type="xsd:short"/>
			<xsd:element minOccurs="0" name="idPadre" type="xsd:short"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="consultarCatalogoResp">
		<xsd:complexContent>
			<xsd:extension base="mod:ResponseBase">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="catalogos" type="tns:ListaCatalogo"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Catalogo">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="id" type="xsd:short"/>
			<xsd:element minOccurs="0" name="valor" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idPadre" type="xsd:short"/>
			<xsd:element minOccurs="0" name="idTipoCatalogo" type="xsd:short"/>
			<xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="usuarioCreacion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="usuarioActualizacion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fechaCreacion" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="fechaActualizacion" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="vigencia" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ListaCatalogo">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="catalogo" type="tns:Catalogo"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>