repo/trunk/NCI_WSDLesb/WSDL/SE_NCI/mit-ws/INotificacionCorreoWS/INotificacionCorreoSoapWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://notificacion.webservice.ws.nci.profuturo.mx/"
	name="INotificacionCorreoSoapWS" targetNamespace="http://notificacion.webservice.ws.nci.profuturo.mx/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://notificacion.webservice.ws.nci.profuturo.mx/"
			elementFormDefault="unqualified"
			targetNamespace="http://notificacion.webservice.ws.nci.profuturo.mx/"
			version="1.0">
			<xs:element name="getNotificacion" type="tns:getNotificacion" />
			<xs:element name="getNotificacionResponse" type="tns:getNotificacionResponse" />
			<xs:complexType name="getNotificacion">
				<xs:sequence>
					<xs:element minOccurs="0" name="request"
						type="tns:notificacionCorreoRequest" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="notificacionCorreoRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="idNotificacion" type="xs:short" />
					<xs:element minOccurs="0" name="parametros">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0"
									name="parametro" type="tns:parametroBean" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="parametroBean">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getNotificacionResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="GetNotificacionResponse"
						type="tns:iNotificacionCorreoSoapWSGetNotificacionResponse" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="iNotificacionCorreoSoapWSGetNotificacionResponse">
				<xs:complexContent>
					<xs:extension base="tns:abstractWebServiceResponse">
						<xs:sequence>
							<xs:element minOccurs="0" name="response"
								type="tns:notificacionCorreoResponse" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="abstractWebServiceResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="errorCode" type="xs:string" />
					<xs:element minOccurs="0" name="errorMessage" type="xs:string" />
					<xs:element minOccurs="0" name="errorTrace" type="xs:string" />
					<xs:element name="success" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="notificacionCorreoResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="asunto" type="xs:string" />
					<xs:element minOccurs="0" name="body" type="xs:base64Binary" />
					<xs:element minOccurs="0" name="descripcion" type="xs:string" />
					<xs:element minOccurs="0" name="estatus"
						type="tns:estatusNotificacionVO" />
					<xs:element minOccurs="0" name="id" type="xs:short" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parametros"
						nillable="true" type="tns:parametroBean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="estatusNotificacionVO">
				<xs:sequence>
					<xs:element minOccurs="0" name="descripcion" type="xs:string" />
					<xs:element minOccurs="0" name="idNotificacion" type="xs:short" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getNotificacion">
		<wsdl:part element="ns1:getNotificacion" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNotificacionResponse">
		<wsdl:part element="ns1:getNotificacionResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="INotificacionCorreoSoapWS">
		<wsdl:operation name="getNotificacion">
			<wsdl:input message="ns1:getNotificacion" name="getNotificacion">
			</wsdl:input>
			<wsdl:output message="ns1:getNotificacionResponse" name="getNotificacionResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>