project/D16_TelcelLib/siantel/wmb/siantel.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/di/sds/siantel/sistemasadministrativos/siantel" xmlns="http://www.telcel.com.mx/di/sds/siantel/sistemasadministrativos/siantel" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
	<xsd:element ibmSchExtn:docRoot="true" name="SolicitudPerfilTelefono" type="SolicitudPerfilTelefonoType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="PerfilTelefono" type="PerfilTelefonoType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Error" type="ErrorSiantel"/>
	
	<xsd:complexType name="SolicitudPerfilTelefonoType">
		<xsd:sequence>
			<xsd:element name="Sistema" type="xsd:string"/>
			<xsd:element name="RegionSolicitud" type="xsd:string"/>
			<xsd:element name="Telefono" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PerfilTelefonoType">
		<xsd:sequence>
			<xsd:element name="Telefono" type="xsd:string"/>
			<xsd:element name="TipoSerie" type="xsd:string"/>
			<xsd:element name="IDP" type="xsd:string"/>
			<xsd:element name="NombreIDP" type="xsd:string"/>
			<xsd:element name="IDO" type="xsd:string"/>
			<xsd:element name="NombreIDO" type="xsd:string"/>
			<xsd:element name="GrupoCorpo" type="xsd:string"/>
			<xsd:element name="Modalidad" type="xsd:string"/>
			<xsd:element name="Poblacion" type="xsd:string"/>
			<xsd:element name="NombrePoblacion" type="xsd:string"/>
			<xsd:element name="Region" type="xsd:string"/>
			<xsd:element name="Plataforma" type="xsd:string"/>
			<xsd:element name="Tecnologia" type="xsd:string"/>
			<xsd:element name="Plan" type="xsd:string"/>
			<xsd:element name="NombrePlan" type="xsd:string"/>
			<xsd:element name="TipoPlan" type="xsd:string"/>
			<xsd:element name="FvtaPrepago" type="xsd:string"/>
			<xsd:element name="FvtaPospago" type="xsd:string"/>
			<xsd:element name="SDP" type="xsd:string"/>
			<xsd:element name="CodigoSRV" type="xsd:string"/>
			<xsd:element name="DescripcionSRV" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ErrorSiantel">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string"/>
			<xsd:element name="descripcion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>