repo/trunk/Lib_NCI_MM/MovimientosService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="MovimientosService" targetNamespace="http://mx.profuturo/iib/nci/Movimientos/MovimientosService/v1" xmlns:iibe="http://mx.profuturo/iib/iibException/IIBException" xmlns:sch="http://mx.profuturo/iib/nci/Movimientos/MovimientosService/v1/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mx.profuturo/iib/nci/Movimientos/MovimientosService/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="MovimientosBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>

	<wsdl:types>
		<xsd:schema>
<xsd:import namespace="http://mx.profuturo/iib/nci/Movimientos/MovimientosService/v1/types" schemaLocation="MovimientosService/MovimientosService.xsd">
			</xsd:import>
<xsd:import namespace="http://mx.profuturo/iib/iibException/IIBException" schemaLocation="frameworkiib/iibException/IIBException.xsd">
			</xsd:import>
</xsd:schema>
	</wsdl:types>

	<wsdl:message name="consultarMovimientosPreviosRequest">
		<wsdl:part element="sch:consultarMovimientosPreviosRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultarMovimientosPreviosResponse">
		<wsdl:part element="sch:consultarMovimientosPreviosResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultarMovPreviosRelacionadosRequest">
		<wsdl:part element="sch:consultarMovPreviosRelacionadosRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="consultarMovPreviosRelacionadosResponse">
		<wsdl:part element="sch:consultarMovPreviosRelacionadosResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="faultMsg">
    		<wsdl:part element="iibe:iibException" name="parameters"/>
  	</wsdl:message>
	
	<wsdl:portType name="MovimientosPortType">
		<wsdl:operation name="consultarMovimientosPrevios">
			<wsdl:input message="tns:consultarMovimientosPreviosRequest"/>
			<wsdl:output message="tns:consultarMovimientosPreviosResponse"/>
			<wsdl:fault message="tns:faultMsg" name="fault"/>
		</wsdl:operation>
		<wsdl:operation name="consultarMovPreviosRelacionados">
			<wsdl:input message="tns:consultarMovPreviosRelacionadosRequest"/>
			<wsdl:output message="tns:consultarMovPreviosRelacionadosResponse"/>
			<wsdl:fault message="tns:faultMsg" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MovimientosBinding" type="tns:MovimientosPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultarMovimientosPrevios">
			<soap:operation soapAction="urn:consultarMovimientosPrevios" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultarMovPreviosRelacionados">
			<soap:operation soapAction="urn:consultarMovPreviosRelacionados" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MovimientosService">
		<wsdl:port binding="tns:MovimientosBinding" name="MovimientosPort">
			<soap:address location="http://localhost/iib/nci/Movimientos/MovimientosService/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>