repo/trunk/Lib_NCI_MM/MovimientosService/MovimientosService.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.profuturo/iib/nci/Movimientos/MovimientosService/v1/types" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mod="http://mx.profuturo/nci/modelo" xmlns:tns="http://mx.profuturo/iib/nci/Movimientos/MovimientosService/v1/types">
	
	<xsd:import namespace="http://mx.profuturo/nci/modelo" schemaLocation="../modelo/ModeloNCI.xsd"/>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarMovimientosPreviosRequest" type="tns:consultarMovimientosPreviosReq"/>
	<xsd:element ibmSchExtn:docRoot="true" name="consultarMovimientosPreviosResponse" type="tns:consultarMovimientosPreviosResp"/>
	<xsd:element ibmSchExtn:docRoot="true" name="consultarMovPreviosRelacionadosRequest" type="tns:consultarMovPreviosRelacionadosReq"/>
	<xsd:element ibmSchExtn:docRoot="true" name="consultarMovPreviosRelacionadosResponse" type="tns:consultarMovPreviosRelacionadosResp"/>
	
	<xsd:complexType name="consultarMovimientosPreviosReq">
		<xsd:sequence>
			<xsd:element name="folio" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="consultarMovimientosPreviosResp">
		<xsd:complexContent>
			<xsd:extension base="mod:ResponseBase">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sieforesMovimientos" type="tns:ListaMovimientos"/>
					<xsd:element name="total" type="tns:Movimiento"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="consultarMovPreviosRelacionadosReq">
		<xsd:sequence>
			<xsd:element name="folio" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="consultarMovPreviosRelacionadosResp">
		<xsd:complexContent>
			<xsd:extension base="mod:ResponseBase">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="movimientosRelacionados" type="tns:ListaMovimientosRelacionados"/>
					<xsd:element minOccurs="0" name="totalImportePesos" type="xsd:string"/>
					<xsd:element minOccurs="0" name="totalAcciones" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="MovimientoRelacionado">
		<xsd:sequence>
			<xsd:element name="folio" type="mod:FolioProceso"/>
			<xsd:element name="importePesos" type="xsd:string"/>
			<xsd:element name="totalAcciones" type="xsd:string"/>
			<xsd:element name="numeroRegistros" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ListaMovimientosRelacionados">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="movimientoRelacionado" type="tns:MovimientoRelacionado"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Movimiento">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="siefore" type="mod:Siefore"/>
			<xsd:element minOccurs="0" name="subcuentas" type="tns:ListaSubcuentasMovimientos"/>
			<xsd:element minOccurs="0" name="totales" type="tns:ListaTotalesMovimientos"/>
		</xsd:sequence>
	</xsd:complexType>
        
	<xsd:complexType name="TotalesMovimiento">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="regimen" type="xsd:string"/>
			<xsd:element name="totalPesos" type="mod:importe"/>
			<xsd:element name="totalAcciones" type="mod:importe"/>
			<xsd:element name="totalRegistros" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SubcuentaMovimiento">
		<xsd:sequence>
			<xsd:element name="subcuenta" type="mod:Subcuenta"/>
			<xsd:element minOccurs="0" name="regimen" type="xsd:string"/>
			<xsd:element name="tipoMovimiento" type="xsd:string"/>
			<xsd:element name="pesos" type="mod:importe"/>
			<xsd:element name="acciones" type="mod:importe"/>
			<xsd:element name="totalRegistros" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ListaMovimientos">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="movimiento" type="tns:Movimiento"/>
		</xsd:sequence>
	</xsd:complexType>
        
        <xsd:complexType name="ListaTotalesMovimientos">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="total" type="tns:TotalesMovimiento"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ListaSubcuentasMovimientos">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="subcuentaMovimiento" type="tns:SubcuentaMovimiento"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>