D16_ServiciosTelcelLib/sms/TramitesBPMService.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xsd:schema targetNamespace="http://tramitesbpm.ws.dsie.gsa.sds.di.telcel.com/" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://tramitesbpm.ws.dsie.gsa.sds.di.telcel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element ibmSchExtn:docRoot="true" name="envioSMS" type="tns:envioSMS"/>

	<xsd:element ibmSchExtn:docRoot="true" name="envioSMSResponse" type="tns:envioSMSResponse"/>

	<xsd:complexType name="envioSMS">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
			<xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="envioSMSResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>