D16_GestionTramitesLib/investigacion/GestionTramitesInvestigacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:comun="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion" xmlns:types="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionTramitesInvestigacion" targetNamespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="GestionTramitesInvestigacionBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/schema" schemaLocation="GestionTramitesInvestigacion.xsd"/>
      <xsd:import namespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema" schemaLocation="../comun/GestionTramitesComun.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultarEncabezadoMsg">
    <part element="types:consultarEncabezadoRequest" name="parameters"/>
  </message>
  <message name="consultarEncabezadoMsgResponse">
    <part element="types:consultarEncabezadoResponse" name="parameters"/>
  </message>
  <message name="consultarConsumosMsg">
    <part element="types:consultarConsumosRequest" name="parameters"/>
  </message>
  <message name="consultarConsumosMsgResponse">
    <part element="types:consultarConsumosResponse" name="parameters"/>
  </message>
  <message name="consultarDetalleConexionesMsg">
    <part element="types:consultarDetalleConexionesRequest" name="parameters"/>
  </message>
  <message name="consultarDetalleConexionesMsgResponse">
    <part element="types:consultarDetalleConexionesResponse" name="parameters"/>
  </message>
  <message name="consultarPlanesYServiciosMsg">
    <part element="types:consultarPlanesYServiciosRequest" name="parameters"/>
  </message>
  <message name="consultarPlanesYServiciosMsgResponse">
    <part element="types:consultarPlanesYServiciosResponse" name="parameters"/>
  </message>
  <message name="consultarDetallePlanTarifarioMsg">
    <part element="types:consultarDetallePlanTarifarioRequest" name="parameters"/>
  </message>
  <message name="consultarDetallePlanTarifarioMsgResponse">
    <part element="types:consultarDetallePlanTarifarioResponse" name="parameters"/>
  </message>
  <message name="consultarDetalleProductoMsg">
    <part element="types:consultarDetalleProductoRequest" name="parameters"/>
  </message>
  <message name="consultarDetalleProductoMsgResponse">
    <part element="types:consultarDetalleProductoResponse" name="parameters"/>
  </message>
  <message name="consultarPagosYAjustesMsg">
    <part element="types:consultarPagosYAjustesRequest" name="parameters"/>
  </message>
  <message name="consultarPagosYAjustesMsgResponse">
    <part element="types:consultarPagosYAjustesResponse" name="parameters"/>
  </message>
  <message name="consultarDetalleReversionMsg">
    <part element="types:consultarDetalleReversionRequest" name="parameters"/>
  </message>
  <message name="consultarDetalleReversionMsgResponse">
    <part element="types:consultarDetalleReversionResponse" name="parameters"/>
  </message>
  <message name="consultarPromocionesMsg">
    <part element="types:consultarPromocionesRequest" name="parameters"/>
  </message>
  <message name="consultarPromocionesMsgResponse">
    <part element="types:consultarPromocionesResponse" name="parameters"/>
  </message>
  <message name="consultarDetallePromocionMsg">
    <part element="types:consultarDetallePromocionRequest" name="parameters"/>
  </message>
  <message name="consultarDetallePromocionMsgResponse">
    <part element="types:consultarDetallePromocionResponse" name="parameters"/>
  </message>
  <message name="consultarHistorialCuentaMsg">
    <part element="types:consultarHistorialCuentaRequest" name="parameters"/>
  </message>
  <message name="consultarHistorialCuentaMsgResponse">
    <part element="types:consultarHistorialCuentaResponse" name="parameters"/>
  </message>
  <message name="gestionTramitesWMBExceptionMsg">
    <part element="comun:gestionTramitesWMBException" name="fault"/>
  </message>
  <portType name="GestionTramitesInvestigacionPort">
    <operation name="consultarEncabezado">
      <input message="this:consultarEncabezadoMsg"/>
      <output message="this:consultarEncabezadoMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarConsumos">
      <input message="this:consultarConsumosMsg"/>
      <output message="this:consultarConsumosMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarDetalleConexiones">
      <input message="this:consultarDetalleConexionesMsg"/>
      <output message="this:consultarDetalleConexionesMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarPlanesYServicios">
      <input message="this:consultarPlanesYServiciosMsg"/>
      <output message="this:consultarPlanesYServiciosMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarDetallePlanTarifario">
      <input message="this:consultarDetallePlanTarifarioMsg"/>
      <output message="this:consultarDetallePlanTarifarioMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarDetalleProducto">
      <input message="this:consultarDetalleProductoMsg"/>
      <output message="this:consultarDetalleProductoMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarPagosYAjustes">
      <input message="this:consultarPagosYAjustesMsg"/>
      <output message="this:consultarPagosYAjustesMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarDetalleReversion">
      <input message="this:consultarDetalleReversionMsg"/>
      <output message="this:consultarDetalleReversionMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarPromociones">
      <input message="this:consultarPromocionesMsg"/>
      <output message="this:consultarPromocionesMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarDetallePromocion">
      <input message="this:consultarDetallePromocionMsg"/>
      <output message="this:consultarDetallePromocionMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
    <operation name="consultarHistorialCuenta">
      <input message="this:consultarHistorialCuentaMsg"/>
      <output message="this:consultarHistorialCuentaMsgResponse"/>
      <fault message="this:gestionTramitesWMBExceptionMsg" name="GestionTramitesWMBException"/>
    </operation>
  </portType>
  <binding name="GestionTramitesInvestigacionBinding" type="this:GestionTramitesInvestigacionPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="consultarEncabezado">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarEncabezado"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarConsumos">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarConsumos"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarDetalleConexiones">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarDetalleConexiones"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarPlanesYServicios">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarPlanesYServicios"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarDetallePlanTarifario">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarDetallePlanTarifario"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarDetalleProducto">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarDetalleProducto"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarPagosYAjustes">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarPagosYAjustes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarDetalleReversion">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarDetalleReversion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarPromociones">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarPromociones"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarDetallePromocion">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarDetallePromocion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarHistorialCuenta">
      <soap:operation soapAction="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/investigacion/consultarHistorialCuenta"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GestionTramitesWMBException">
        <soap:fault name="GestionTramitesWMBException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="GestionTramitesInvestigacionService">
    <port binding="this:GestionTramitesInvestigacionBinding" name="GestionTramitesInvestigacionHTTPSOAPPort">
      <soap:address location="http://localhost:7800/di/sds/servicioaclientes/gestiontramites/wmb/InvestigacionService"/>
    </port>
  </service>
</definitions>
