samples/AddressBook/AddressBook_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AddressBook" xmlns:Q1="http://addressbook.com" xmlns:tns="http://AddressBook" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://addressbook.com" schemaLocation="addresses.xsd"/>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="SaveAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Person" nillable="true" type="Q1:PersonType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="SaveAddressResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SaveAddressResponse" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="FindAddress">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FindAddress" nillable="true" type="Q1:FindAddressRequest"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="FindAddressResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FindAddressResponse" nillable="true" type="Q1:FindAddressResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="FindAddressFault1" nillable="true" type="Q1:FindAddressFault">
  </xsd:element>
</xsd:schema>