samples/AddressBook/AddressBook.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="AddressBook" targetNamespace="http://AddressBook" xmlns:bons1="http://addressbook.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://AddressBook" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="AddressBook_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="AddressBookHttpBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  
  
  
  
  
  
  
    
  <wsdl:types>
    <xsd:schema targetNamespace="http://AddressBook">
          
            <xsd:include schemaLocation="AddressBook_InlineSchema1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SaveAddressRequestMsg">
    <wsdl:part element="tns:SaveAddress" name="SaveAddressParameters"/>
  </wsdl:message>
  <wsdl:message name="SaveAddressResponseMsg">
    <wsdl:part element="tns:SaveAddressResponse" name="SaveAddressResult"/>
  </wsdl:message>
    <wsdl:message name="FindAddressRequestMsg">
    <wsdl:part element="tns:FindAddress" name="FindAddressParameters"/>
  </wsdl:message>
    <wsdl:message name="FindAddressResponseMsg">
    <wsdl:part element="tns:FindAddressResponse" name="FindAddressResult"/>
  </wsdl:message>
    <wsdl:message name="FindAddress_FindAddressFault1Msg">
    <wsdl:part element="tns:FindAddressFault1" name="FindAddressFault1"/>
  </wsdl:message>
    <wsdl:portType name="AddressBook">
    <wsdl:operation name="SaveAddress">
      <wsdl:input message="tns:SaveAddressRequestMsg" name="SaveAddressRequest"/>
      <wsdl:output message="tns:SaveAddressResponseMsg" name="SaveAddressResponse"/>
    </wsdl:operation>
        <wsdl:operation name="FindAddress">
      <wsdl:input message="tns:FindAddressRequestMsg" name="FindAddressRequest"/>
      <wsdl:output message="tns:FindAddressResponseMsg" name="FindAddressResponse"/>
            <wsdl:fault message="tns:FindAddress_FindAddressFault1Msg" name="FindAddressFault1"/>
        </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="AddressBookHttpBinding" type="tns:AddressBook">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SaveAddress">
            <soap:operation soapAction="http://AddressBook/SaveAddress"/>
            <wsdl:input name="SaveAddressRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="SaveAddressResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="FindAddress">
            <soap:operation soapAction="http://AddressBook/FindAddress"/>
            <wsdl:input name="FindAddressRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="FindAddressResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FindAddressFault1">
        <soap:fault name="FindAddressFault1" use="literal"/>
      </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="AddressBookHttpService">
    <wsdl:port binding="tns:AddressBookHttpBinding" name="AddressBookHttpPort">
      <soap:address location="http://localhost:7800/AddressBook/AddressBook"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>