samples/AddressBook/addresses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://addressbook.com" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" 
	xmlns:mqsistr="http://addressbook.com" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

       
 <complexType name="Address">
    <sequence>
      <element name="Type" type="string"/>
      <element name="Number" type="integer"/>
      <element name="Street" type="string"/>
      <element name="Postcode" type="string"/>
      <element name="City" type="string"/>
      <xsd:element form="qualified" name="Country" type="string"/>
      <element name="AdditionalInfo" type="string"/>
    </sequence>
  </complexType>

  <complexType name="USAddress">
    <complexContent>
      <extension base="mqsistr:Address">
        <sequence>
          <element name="state" type="string"/>
          <element name="zip" type="positiveInteger"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="CanadianAddress">
    <complexContent>
      <extension base="mqsistr:Address">
        <sequence>
          <element name="province" type="string"/>
          <element name="postcode" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="UKAddress">
    <complexContent>
      <extension base="mqsistr:Address">
        <sequence>
          <element name="county" type="string"/>
          <element name="postcode" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
        
        
      <xsd:complexType name="PersonType">
        <xsd:sequence>
          <xsd:element form="qualified" name="Name" type="string"/>
          <xsd:element form="qualified" name="Address" type="mqsistr:Address"/>
          <xsd:element form="qualified" name="PhoneNumber" type="mqsistr:PhoneNumberType"/>
        </xsd:sequence>
      </xsd:complexType>
 
      <xsd:complexType name="PhoneNumberType">
        <xsd:sequence>
          <xsd:element form="qualified" name="Area" type="int"/>
          <xsd:element form="qualified" name="Prefix" type="int"/>
          <xsd:element form="qualified" name="Local" type="int"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="FindAddressRequest">
      	<xsd:sequence>
                <xsd:element form="qualified" name="Name" type="string"/>
          		<xsd:element form="qualified" name="Country" type="string"/>
        </xsd:sequence>
      </xsd:complexType>
      
      
<xsd:complexType name="FindAddressFault">
        <xsd:sequence>
          <xsd:element form="qualified" name="Name" type="string"/>
          <xsd:element form="qualified" name="Address" type="mqsistr:Address"/>
          <xsd:element form="qualified" name="PhoneNumber" type="mqsistr:PhoneNumberType"/>
        </xsd:sequence>
      </xsd:complexType>

 <xsd:complexType name="FindAddressResponse">
        <xsd:sequence>
          <xsd:element form="qualified" name="Name" type="string"/>
          <xsd:element form="qualified" name="Address" type="mqsistr:Address"/>
          <xsd:element form="qualified" name="PhoneNumber" type="mqsistr:PhoneNumberType"/>
        </xsd:sequence>
      </xsd:complexType>

</schema>