D16_TelcelLib/m2k/wmb/m2k.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/m2k" xmlns="http://www.telcel.com.mx/m2k" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaError" type="RespuestaErrorType"/>
	
	<xsd:complexType name="RespuestaErrorType">
		<xsd:sequence>
			<xsd:element name="ESTATUS" type="EstatusError"/>
			<xsd:element name="MENSAJE" type="xsd:string"/>
			<xsd:element minOccurs="0" name="CAMPO-ERRONEO" type="xsd:string"/>
			<xsd:element name="PROGRAMA" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="EstatusError">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="IDPETICION" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="ErroresInfoType">
		<xsd:sequence>
			<xsd:group maxOccurs="unbounded" ref="erroresInfoGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:group name="erroresInfoGroup">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Codigo" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Mensaje" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
	
	<xsd:complexType name="ResponseBase">
		<xsd:sequence>
			<xsd:element name="ESTATUS" type="EstatusError"/>
			<xsd:element minOccurs="0" name="MENSAJE" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RequestBase">
		<xsd:sequence>
			<xsd:element name="user" type="xsd:string"/>
			<xsd:element name="region" type="xsd:integer"/>
			<xsd:element name="function" type="xsd:string"/>
			<xsd:element name="action" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
				
	<xsd:complexType name="CuentaType">
		<xsd:simpleContent>
			<xsd:extension base="cuentaFormato">
				<xsd:attribute name="longitud" type="longitudFormato"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
		
	<xsd:complexType name="FechaType">
		<xsd:simpleContent>
			<xsd:extension base="fechaFormato">
				<xsd:attribute name="longitud" type="longitudFormato"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="TelefonoType">
		<xsd:simpleContent>
			<xsd:extension base="telefonoFormato">
				<xsd:attribute name="longitud" type="longitudFormato"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:simpleType name="fechaFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|(((0[1-9])|([1-2][0-9])|(3[0-1]))/((01)|(03)|(05)|(07)|(08)|(10)|(12))/[0-9]{2})"/>
			<xsd:pattern value="|(((0[1-9])|([1-2][0-9])|(30))/((04)|(06)|(09)|(11))/[0-9]{2})"/>
			<xsd:pattern value="|(((0[1-9])|([1-2][0-9]))/((02))/[0-9]{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="telefonoFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|\d{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="cuentaFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|\d{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
    <xsd:simpleType name="longitudFormato">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
