D16_TelcelLib/m2k/wmb/m2k_igtoc45_d.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/m2k/igtoc45/d" xmlns="http://www.telcel.com.mx/m2k/igtoc45/d" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p01telefono" type="m2k:TelefonoType"/>
			<xsd:element name="p02cuenta" type="m2k:CuentaType"/>
			<xsd:element name="p03fechaInicio" type="m2k:FechaType"/>
			<xsd:element name="p04fechaFin" type="m2k:FechaType"/>
			<xsd:element name="p05fechaPiv" type="m2k:FechaPivType"/>
			<xsd:element name="p06horaPiv" type="m2k:HoraPivType"/>
			<xsd:element name="p07fuentePiv" type="m2k:AlfanumericoType"/>
			<xsd:element name="p08secuenciaPiv" type="m2k:AlfanumericoType"/>
			<xsd:element name="p09telMarcadoPiv" type="m2k:TelefonoType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
					<xsd:group maxOccurs="unbounded" ref="subgroup_output_igtoc45d"/>
					<xsd:element name="Referencia" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:group name="subgroup_output_igtoc45d">
		<xsd:sequence>
			<xsd:element name="Fecha" type="xsd:string"/>
			<xsd:element name="Hora" type="xsd:string"/>
			<xsd:element name="CiudadOrigen" type="xsd:string"/>
			<xsd:element name="TelMarcado" type="xsd:string"/>
			<xsd:element name="CiudadDestino" type="xsd:string"/>
			<xsd:element name="Sv" type="xsd:string"/>
			<xsd:element name="Cl" type="xsd:string"/>
			<xsd:element name="TipoLlamada" type="xsd:string"/>
			<xsd:element name="MinutosTAire" type="xsd:string"/>
			<xsd:element name="MinutosLibre" type="xsd:string"/>
			<xsd:element name="LargaDistancia" type="xsd:string"/>
			<xsd:element name="Total" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
	
</xsd:schema>