D16_TelcelLib/m2k/wmb/m2k_igtoc64_a.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/di/sds/m2k/activaciones/igtoc64/a" xmlns="http://www.telcel.com.mx/di/sds/m2k/activaciones/igtoc64/a" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/di/sds/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/di/sds/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p06telefono" type="m2k:TelefonoType"/>
			<xsd:element name="p07cuenta" type="m2k:CuentaType"/>
			<xsd:element name="p08tpocomentario" type="m2k:GenericoType"/>
			<xsd:element name="p09comentario" type="m2k:ComentarioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>