D16_TelcelLib/m2k/wmb/m2k_react_c.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/m2k/react/c" xmlns="http://www.telcel.com.mx/m2k/react/c" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p01telefono" type="m2k:TelefonoType"/>
			<xsd:element name="p02cuenta" type="m2k:CuentaType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Errores" type="m2k:ErroresInfoType"/>
					<xsd:element name="EstatusTelefono" type="xsd:string"/>
					<xsd:element name="MotivoInfo" type="xsd:string"/>
					<xsd:element name="EstatusDeCobranza" type="xsd:string"/>
					<xsd:element name="ResponsabilidadPago" type="xsd:string"/>
					<xsd:element name="ChequeDevuelto" type="xsd:string"/>
					<xsd:element name="Consolid" type="xsd:string"/>
					<xsd:element name="PoolCorporativo" type="xsd:string"/>
					<xsd:element name="CuentaPadre" type="xsd:string"/>
					<xsd:element name="EstCob" type="xsd:string"/>
					<xsd:element name="SaldoVencido" type="xsd:string"/>
					<xsd:element name="LimiteCredito" type="xsd:string"/>
					<xsd:element name="PorcientoRestauracion" type="xsd:string"/>
					<xsd:element name="ImportePagar" type="xsd:string"/>
					<xsd:element name="SaldoEstimado" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>