D16_TelcelLib/m2k/wmb/m2k_igtoc42_d.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/m2k/igtoc42/d" xmlns="http://www.telcel.com.mx/m2k/igtoc42/d" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p01telefono" type="m2k:TelefonoType"/>
			<xsd:element name="p02cuenta" type="m2k:CuentaType"/>
			<xsd:element name="p03fechaInicio" type="m2k:FechaType"/>
			<xsd:element name="p04fechaFin" type="m2k:FechaType"/>
			<xsd:element name="p05fechaPiv" type="m2k:FechaPivType"/>
			<xsd:element name="p06lotePiv" type="m2k:AlfanumericoType"/>
			<xsd:element name="p07tipoPagoPiv" type="m2k:TipoPagoPivType"/>
			<xsd:element name="p08secPagoPiv" type="m2k:SecPagoPivType"/>
			<xsd:element name="p09fechaAjustePiv" type="m2k:FechaPivType"/>
			<xsd:element name="p10codAjustePiv" type="m2k:AlfanumericoType"/>
			<xsd:element name="p11secUsuarioPiv" type="m2k:AlfanumericoType"/>
			<xsd:element name="p12secAjustePiv" type="m2k:AlfanumericoType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
					<xsd:group maxOccurs="unbounded" ref="subgroup_output_igtoc42d"/>
					<xsd:element name="referencia" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:group name="subgroup_output_igtoc42d">
		<xsd:sequence>
			<xsd:element name="Fecha" type="xsd:string"/>
			<xsd:element name="NombreAjuste" type="xsd:string"/>
			<xsd:element name="Cheque" type="xsd:string"/>
			<xsd:element name="OrigenPago" type="xsd:string"/>
			<xsd:element name="FormaPago" type="xsd:string"/>
			<xsd:element name="Importe" type="xsd:string"/>
			<xsd:element name="Estatus" type="xsd:string"/>
			<xsd:element name="Asesor" type="xsd:string"/>
			<xsd:element name="DetallePago" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>