D16_TelcelLib/m2k/wmb/m2k_igtoc41_d.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/di/sds/m2k/activaciones/igtoc41/d" xmlns="http://www.telcel.com.mx/di/sds/m2k/activaciones/igtoc41/d" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/di/sds/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/di/sds/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p07planTarifario" type="m2k:AlfanumericoType"/>
			<xsd:element name="p08idProducto" type="m2k:ProductoType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
					<xsd:element name="PlanTarifarioYDesc" type="xsd:string"/>
					<xsd:element name="Plazo" type="xsd:string"/>
					<xsd:element name="TipPlan" type="xsd:string"/>
					<xsd:element name="DescTipo" type="xsd:string"/>
					<xsd:element name="MinInc" type="xsd:string"/>
					<xsd:element name="SmsInc" type="xsd:string"/>
					<xsd:element name="DatInc" type="xsd:string"/>
					<xsd:element name="CosPl" type="xsd:string"/>
					<xsd:element name="Producto" type="xsd:string"/>
					<xsd:group ref="subgroup_output_igtoc41d" maxOccurs="unbounded" />
					<xsd:element name="Referencia" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:group name="subgroup_output_igtoc41d">
		<xsd:sequence>
			<xsd:element name="DescProducto" type="xsd:string"/>
			<xsd:element name="CostpProd" type="xsd:string"/>
			<xsd:element name="Producto" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
	
</xsd:schema>