D16_TelcelLib/m2k/wmb/m2k_cpast_c.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/di/sds/m2k/cobranza/cpast/c" xmlns="http://www.telcel.com.mx/di/sds/m2k/cobranza/cpast/c" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/di/sds/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/di/sds/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p01cuenta" type="m2k:CuentaType"/>
			<xsd:element name="p02maxRegistros" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Errores" type="m2k:ErroresInfoType"/>
					<xsd:element name="Apellido" type="xsd:string"/>
					<xsd:element name="Nombre" type="xsd:string"/>
					<xsd:element name="NumFrec1A" type="xsd:string"/>
					<xsd:element name="NumFrec1B" type="xsd:string"/>
					<xsd:element name="NumFrec2A" type="xsd:string"/>
					<xsd:element name="NumFrec2B" type="xsd:string"/>
					<xsd:element name="NumFrec3A" type="xsd:string"/>
					<xsd:element name="NumFrec3B" type="xsd:string"/>
					<xsd:element name="NumFrec4A" type="xsd:string"/>
					<xsd:element name="NumFrec4B" type="xsd:string"/>
					<xsd:element name="CveVentasCel" type="xsd:string"/>
					<xsd:element name="SuspParc" type="xsd:string"/>
					<xsd:element name="TablaCpast" type="TablaCpastType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TablaCpastType">
		<xsd:sequence>
			<xsd:group ref="subgroup_output_tablacpast" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:group name="subgroup_output_tablacpast">
		<xsd:sequence>
			<xsd:element name="Fecha" type="xsd:string"/>
			<xsd:element name="Hora" type="xsd:string"/>
			<xsd:element name="AccionTomada" type="xsd:string"/>
			<xsd:element name="Descripcion" type="xsd:string"/>
			<xsd:element name="Acc" type="xsd:string"/>
			<xsd:element name="Est" type="xsd:string"/>
			<xsd:element name="Tipo" type="xsd:string"/>
			<xsd:element name="RepCobranza" type="xsd:string"/>
			<xsd:element name="NomContacto" type="xsd:string"/>
			<xsd:element name="PromesaPago" type="xsd:string"/>
			<xsd:element name="ImportePago" type="xsd:string"/>
			<xsd:element name="EstProm" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>