D16_TelcelLib/m2k/wmb/m2k_igtoc47_c.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/di/sds/m2k/facturacion/igtoc47/c" xmlns="http://www.telcel.com.mx/di/sds/m2k/facturacion/igtoc47/c" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/di/sds/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/di/sds/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p01fechaPago" type="m2k:FechaPivType"/>
			<xsd:element name="p02numPago" type="m2k:NumPagoType"/>
			<xsd:element name="p03tipoPago" type="m2k:TipoPagoType"/>
			<xsd:element name="p04secPago" type="m2k:SecPagoType"/>
			<xsd:element name="p05referencia" type="m2k:ReferenciaType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
					<xsd:group maxOccurs="unbounded" ref="subgroup_output_igtoc47c"/>
					<xsd:element name="Referencia" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:group name="subgroup_output_igtoc47c">
		<xsd:sequence>
			<xsd:element name="FecPago" type="xsd:string"/>
			<xsd:element name="FecApli" type="xsd:string"/>
			<xsd:element name="FecReve" type="xsd:string"/>
			<xsd:element name="ImpApli" type="xsd:string"/>
			<xsd:element name="FecFact" type="xsd:string"/>
			<xsd:element name="ForPago" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>