D16_TelcelLib/m2k/wmb/m2k_igtoc48_c.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/di/sds/m2k/activaciones/igtoc48/c" xmlns="http://www.telcel.com.mx/di/sds/m2k/activaciones/igtoc48/c" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/di/sds/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/di/sds/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p01telefono" type="m2k:TelefonoType"/>
			<xsd:element name="p02cuenta" type="m2k:CuentaType"/>
			<xsd:element name="p03fechaInicio" type="m2k:FechaType"/>
			<xsd:element name="p04fechaFin" type="m2k:FechaType"/>
			<xsd:element name="p05planDesc" type="m2k:PlanTarifarioType"/>
			<xsd:element name="p06EffDate" type="m2k:AlfanumericoType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
					<xsd:element name="CveDescuento" type="xsd:string"/>
					<xsd:element name="DescripCveDescuento" type="xsd:string"/>
					<xsd:element name="Periodo" type="xsd:string"/>
					<xsd:element name="DescripcionPeriodo" type="xsd:string"/>
					<xsd:group maxOccurs="unbounded" ref="subgroup_output_igtoc48c"/>
					<xsd:element name="CveAjuste" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:group name="subgroup_output_igtoc48c">
		<xsd:sequence>
			<xsd:element name="CveProducto" type="xsd:string"/>
			<xsd:element name="TipoProducto" type="xsd:string"/>
			<xsd:element name="DescripProducto" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>