D16_TelcelLib/m2k/wmb/m2k_retc2_c.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/m2k/retc2/c" xmlns="http://www.telcel.com.mx/m2k/retc2/c" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:import namespace="http://www.telcel.com.mx/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="p01telefono" type="m2k:TelefonoType"/>
			<xsd:element name="p02cuenta" type="m2k:CuentaType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
					<xsd:element name="AnalistaCredito" type="xsd:string"/>
					<xsd:element name="ApartadoPostal" type="xsd:string"/>
					<xsd:element name="AperturaCredito" type="xsd:string"/>
					<xsd:element name="Banco" type="xsd:string"/>
					<xsd:element name="BancoDomicializado" type="xsd:string"/>
					<xsd:element name="BancoPropietario" type="xsd:string"/>
					<xsd:element name="Calle" type="xsd:string"/>
					<xsd:element name="CancelacionPagosAtras" type="xsd:string"/>
					<xsd:element name="CancelacionSaldo" type="xsd:string"/>
					<xsd:element name="ClaseCredito" type="xsd:string"/>
					<xsd:element name="ClaveExento" type="xsd:string"/>
					<xsd:element name="Colonia" type="xsd:string"/>
					<xsd:element name="ContactoA" type="xsd:string"/>
					<xsd:element name="ContactoB" type="xsd:string"/>
					<xsd:element name="Cp" type="xsd:string"/>
					<xsd:element name="CuentaConsolidada" type="xsd:string"/>
					<xsd:element name="Delegacion" type="xsd:string"/>
					<xsd:element name="EstAcctBal" type="xsd:float"/>
					<xsd:element name="Estado" type="xsd:string"/>
					<xsd:element name="EstadoCortesia" type="xsd:string"/>
					<xsd:element name="EstatusCuenta" type="xsd:string"/>
					<xsd:element name="ExentoImpuestoEstado" type="xsd:string"/>
					<xsd:element name="ExentoImpuestoFederal" type="xsd:string"/>
					<xsd:element name="ExentoImpuestoLocal" type="xsd:string"/>
					<xsd:element name="FecClaseCred" type="xsd:string"/>
					<xsd:element name="FormaPago" type="xsd:string"/>
					<xsd:element name="Interior" type="xsd:string"/>
					<xsd:element name="Limite" type="xsd:string"/>
					<xsd:element name="LimiteCredito" type="xsd:string"/>
					<xsd:element name="LimiteUso" type="xsd:string"/>
					<xsd:element name="Nombre" type="xsd:string"/>
					<xsd:element name="Numero" type="xsd:string"/>
					<xsd:element name="NumeroCredito" type="xsd:string"/>
					<xsd:element name="NumeroCuenta" type="xsd:long"/>
					<xsd:element name="NumeroExencionEstado" type="xsd:string"/>
					<xsd:element name="NumeroExencionFederal" type="xsd:string"/>
					<xsd:element name="OrdenDeCompra" type="xsd:string"/>
					<xsd:element name="Pais" type="xsd:string"/>
					<xsd:element name="RelacionDepartamental" type="xsd:string"/>
					<xsd:element name="ReservaNumero" type="xsd:string"/>
					<xsd:element name="ResponsabilidadFactura" type="xsd:string"/>
					<xsd:element name="ResponsabilidadNegociacion" type="xsd:string"/>
					<xsd:element name="ResponsabilidadPago" type="xsd:string"/>
					<xsd:element name="Rfc" type="xsd:string"/>
					<xsd:element name="TcAnterior" type="xsd:string"/>
					<xsd:element name="Tcc" type="xsd:string"/>
					<xsd:element name="Telefono" type="xsd:string"/>
					<xsd:element name="TipoConsolidada" type="xsd:string"/>
					<xsd:element name="TipoCuenta" type="xsd:string"/>
					<xsd:element name="VenceImpuestoEstado" type="xsd:string"/>
					<xsd:element name="VenceImpuestoFederal" type="xsd:string"/>
					<xsd:element name="VencimientoCredito" type="xsd:string"/>
					<xsd:element name="TipoAnterior" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Errores" type="m2k:ErroresInfoType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>