D16_TelcelLib/m2k/wmb/m2k_igtoc43_c.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.telcel.com.mx/m2k/igtoc43/c" xmlns="http://www.telcel.com.mx/m2k/igtoc43/c" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:m2k="http://www.telcel.com.mx/m2k" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.telcel.com.mx/m2k" schemaLocation="m2k.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="Request" type="RequestType"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="RespuestaOK" type="RespuestaOKType"/>
	
	<xsd:complexType name="RequestType">
		<xsd:complexContent>
			<xsd:extension base="m2k:RequestBase">
				<xsd:sequence>
					<xsd:element name="inputParameters" type="InputParametersType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="InputParametersType">
		<xsd:sequence>
			<xsd:element name="servicio" type="ServicioType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ServicioType">
		<xsd:sequence>
			<xsd:element name="p01telefono" type="m2k:TelefonoType"/>
			<xsd:element name="p02cuenta" type="m2k:CuentaType"/>
			<xsd:element name="p03fechaConexion" type="m2k:FechaType"/>
			<xsd:element name="p04horaConexion" type="m2k:HoraType"/>
			<xsd:element name="p05refDtConnect" type="m2k:AlfanumericoType"/>
			<xsd:element name="p06refTmConnect" type="m2k:AlfanumericoType"/>
			<xsd:element name="p07ChargingId" type="m2k:AlfanumericoType"/>
			<xsd:element name="p08refDataVolUp" type="m2k:AlfanumericoType"/>
			<xsd:element name="p09refDataVolDown" type="m2k:AlfanumericoType"/>
			<xsd:element name="p10refServiceClass" type="m2k:AlfanumericoType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RespuestaOKType">
		<xsd:complexContent>
			<xsd:extension base="m2k:ResponseBase">
				<xsd:sequence>
				<xsd:group maxOccurs="unbounded" ref="subgroup_output_igtoc43c"/>
				<xsd:element name="Referencia" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:group name="subgroup_output_igtoc43c">
		<xsd:sequence>
			<xsd:element name="FechaConexion" type="xsd:string"/>
			<xsd:element name="HoraConexion" type="xsd:string"/>
			<xsd:element name="BytesCargados" type="xsd:string"/>
			<xsd:element name="BytesDescargados" type="xsd:string"/>
			<xsd:element name="APN" type="xsd:string"/>
			<xsd:element name="IMEI" type="xsd:string"/>
			<xsd:element name="IMSI" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>