repo/trunk/Lib_NCI_MM/ValorAccionService/ValorAccionService.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.profuturo/iib/nci/Administracion/ValorAccionService/v1/types" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mod="http://mx.profuturo/nci/modelo" xmlns:tns="http://mx.profuturo/iib/nci/Administracion/ValorAccionService/v1/types">
	
	<xsd:import namespace="http://mx.profuturo/nci/modelo" schemaLocation="../modelo/ModeloNCI.xsd"/>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarValorAccionRequest" type="tns:consultarValorAccionReq"/>
	<xsd:element ibmSchExtn:docRoot="true" name="consultarValorAccionResponse" type="tns:consultarValorAccionResp"/>

	<xsd:element ibmSchExtn:docRoot="true" name="consultarDiaHabilMesSigRequest" type="tns:consultarDiaHabilMesSigReq"/>
	<xsd:element ibmSchExtn:docRoot="true" name="consultarDiaHabilMesSigResponse" type="tns:consultarDiaHabilMesSigResp"/>
	
	<xsd:complexType name="consultarValorAccionReq">
		<xsd:choice maxOccurs="3" minOccurs="1">
			<xsd:element name="idValorAccion" type="xsd:int"/>
			<xsd:element name="fechaValorAccion" type="xsd:dateTime"/>
			<xsd:element name="idSiefore" type="xsd:int"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:complexType name="consultarValorAccionResp">
		<xsd:complexContent>
			<xsd:extension base="mod:ResponseBase">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="valoresAccion" type="tns:ListaValorAccion"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="consultarDiaHabilMesSigReq">
		<xsd:sequence>
			<xsd:element name="fechaLiquidacion" type="xsd:dateTime"/>
			<xsd:element name="idSiefore" type="xsd:int"/>
			<xsd:element name="idRegimen" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="consultarDiaHabilMesSigResp">
		<xsd:complexContent>
			<xsd:extension base="mod:ResponseBase">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="valorAccion" type="tns:ValorAccion"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ValorAccion">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int"/>
			<xsd:element name="valorAccion" type="xsd:decimal"/>
			<xsd:element name="fecha" type="xsd:dateTime"/>
			<xsd:element name="siefore" type="mod:Siefore"/>
			<xsd:element name="regimen" type="mod:Regimen"/>
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="ListaValorAccion">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="valorAccion" type="tns:ValorAccion"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>