D16_GestionTramitesLib/comun/GestionTramitesComun.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema" version="1.0" xmlns:this="http://www.telcel.com.mx/di/sds/servicioaclientes/gestiontramites/wmb/comun/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="gestionTramitesWMBException" type="this:GestionTramitesWMBException"/>

	<xsd:complexType name="RequestBase">
		<xsd:sequence>
			<xsd:element name="usuarioM2K" type="xsd:string"/>
			<xsd:element name="region" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ResponseBase">
		<xsd:sequence>
			<xsd:element name="mensajes" type="this:ArrayOfMensaje" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="GestionTramitesWMBException">
		<xsd:sequence>
			<xsd:element name="servicio" type="xsd:string"/>
			<xsd:element name="operacion" type="xsd:string"/> <!-- Para m2k FUNCTION_ACTION -->
			<xsd:element name="errores" type="this:ArrayOfError" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ArrayOfError">
		<xsd:sequence>
			<xsd:element name="error" type="this:Error" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Error">
		<xsd:sequence>
			<xsd:element name="tipo" type="xsd:string" />
			<xsd:element name="codigo" type="xsd:string" />
			<xsd:element name="descripcion" type="xsd:string" />
			<xsd:element name="solucion" type="xsd:string"/>
			<xsd:element name="servicioOrigen" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ArrayOfMensaje">
		<xsd:sequence>
			<xsd:element name="mensaje" type="this:Mensaje" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Mensaje">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string" />
			<xsd:element name="descripcion" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="decimalFormato">
    	<xsd:restriction base="xsd:decimal">
    		<xsd:fractionDigits value="2"/>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="telefonoFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|\d{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="fechaFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|(((0[1-9])|([1-2][0-9])|(3[0-1]))/((01)|(03)|(05)|(07)|(08)|(10)|(12))/[0-9]{2})"/>
			<xsd:pattern value="|(((0[1-9])|([1-2][0-9])|(30))/((04)|(06)|(09)|(11))/[0-9]{2})"/>
			<xsd:pattern value="|(((0[1-9])|([1-2][0-9]))/((02))/[0-9]{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="cuentaFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|\d{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="imeiFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|\d{18}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="horaFormato">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="|(([0-1][0-9])|(2[0-3])):(([0-5][0-9])):(([0-5][0-9]))"/>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="alfanumericoFormato">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="|[a-zA-Z0-9]+"/>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="productoFormato">
    	<xsd:restriction base="this:alfanumericoFormato">
    		<xsd:maxLength value="5"/>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="planTarifarioFormato">
    	<xsd:restriction base="this:alfanumericoFormato">
    		<xsd:maxLength value="5"/>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="fechaPivFormato">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="|\d{7}"/>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="smsFormato">
    	<xsd:restriction base="xsd:string">
    		<xsd:maxLength value="150"/>
    	</xsd:restriction>
    </xsd:simpleType>
</xsd:schema><!-- catalogo de servicios --><!-- 1. M2K --><!-- 2. SIANTEL --><!-- 3. SMS --><!-- 4. IMEI --><!-- 5. RN Determinar Adeudo --><!-- 6. RN Determinar Region Perfil --><!-- 7. RN Determinar Prevalidacion --><!-- 8. RN Reasignar Tramite -->
