D16_GestionTramitesLib/comun/GestionTramitesComun.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://www.telcel.com.mx/gestiontramites/wmb/comun/schema" version="1.0" xmlns:this="http://www.telcel.com.mx/gestiontramites/wmb/comun/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="gestionTramitesWMBException" type="this:GestionTramitesWMBException"/>

	<xsd:complexType name="GestionTramitesWMBException">
		<xsd:sequence>
			<xsd:element name="servicio" type="xsd:string"/>
			<xsd:element name="operacion" type="xsd:string"/> <!-- Para m2k FUNCTION_ACTION -->
			<xsd:element name="errores" type="this:ArrayOfError"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ArrayOfError">
		<xsd:sequence>
			<xsd:element name="error" type="this:Error" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Error">
		<xsd:sequence>
			<xsd:element name="tipo" type="xsd:string" />
			<xsd:element name="codigo" type="xsd:string" />
			<xsd:element name="descripcion" type="xsd:string" />
			<xsd:element name="servicioOrigen" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ArrayOfErrorInformativo">
		<xsd:sequence>
			<xsd:element name="errorInformativo" type="this:ErrorInformativo" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ErrorInformativo">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string" />
			<xsd:element name="mensaje" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="decimalFormato">
    	<xsd:restriction base="xsd:decimal">
    		<xsd:fractionDigits value="2"/>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="telefonoFormato">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|\d{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema><!-- catalogo de servicios --><!-- 1. M2K --><!-- 2. SIANTEL --><!-- 3. SMS --><!-- 4. IMEI --><!-- 5. RN Determinar Adeudo --><!-- 6. RN Determinar Region Perfil --><!-- 7. RN Determinar Prevalidacion --><!-- 8. RN Reasignar Tramite -->