D16_TelcelLib/siantel/PerfilTelefonoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="http://ws.portabilidad.dsaf.gsa.sds.telcel.com" xmlns:intf="http://ws.portabilidad.dsaf.gsa.sds.telcel.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.portabilidad.dsaf.gsa.sds.telcel.com">
	<wsdl:documentation>
		<wsdl:appinfo source="WMQI_APPINFO">
			<MRWSDLAppInfo imported="true">
				<generatedXSD location="PerfilTelefonoService_InlineSchema1.xsd"/>
				<binding hasEncoding="false" imported="true" name="PerfilTelefonoServiceSoapBinding" originalBindingStyle="document"/>
			</MRWSDLAppInfo>
		</wsdl:appinfo>
	</wsdl:documentation>

	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.portabilidad.dsaf.gsa.sds.telcel.com">
			<xsd:include schemaLocation="PerfilTelefonoService_InlineSchema1.xsd"/>
		</schema>
	</wsdl:types>

	<wsdl:message name="getPerfilTelefonoResponse">
		<wsdl:part element="impl:getPerfilTelefonoResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPerfilTelefonoRequest">
		<wsdl:part element="impl:getPerfilTelefono" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFzaVtaPospagoRequest">
		<wsdl:part element="impl:getFzaVtaPospago" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFzaVtaPrepagoResponse">
		<wsdl:part element="impl:getFzaVtaPrepagoResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFzaVtaPospagoResponse">
		<wsdl:part element="impl:getFzaVtaPospagoResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFzaVtaPrepagoRequest">
		<wsdl:part element="impl:getFzaVtaPrepago" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="PerfilTelefonoService">
		<wsdl:operation name="getFzaVtaPrepago">
			<wsdl:input message="impl:getFzaVtaPrepagoRequest" name="getFzaVtaPrepagoRequest"></wsdl:input>
			<wsdl:output message="impl:getFzaVtaPrepagoResponse" name="getFzaVtaPrepagoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPerfilTelefono">
			<wsdl:input message="impl:getPerfilTelefonoRequest" name="getPerfilTelefonoRequest"></wsdl:input>
			<wsdl:output message="impl:getPerfilTelefonoResponse" name="getPerfilTelefonoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFzaVtaPospago">
			<wsdl:input message="impl:getFzaVtaPospagoRequest" name="getFzaVtaPospagoRequest"></wsdl:input>
			<wsdl:output message="impl:getFzaVtaPospagoResponse" name="getFzaVtaPospagoResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="PerfilTelefonoServiceSoapBinding" type="impl:PerfilTelefonoService">
		<wsaw:UsingAddressing wsdl:required="false"/>
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getFzaVtaPrepago">
			<wsdlsoap:operation soapAction="getFzaVtaPrepago"/>
			<wsdl:input name="getFzaVtaPrepagoRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getFzaVtaPrepagoResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPerfilTelefono">
			<wsdlsoap:operation soapAction="getPerfilTelefono"/>
			<wsdl:input name="getPerfilTelefonoRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPerfilTelefonoResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFzaVtaPospago">
			<wsdlsoap:operation soapAction="getFzaVtaPospago"/>
			<wsdl:input name="getFzaVtaPospagoRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getFzaVtaPospagoResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="PerfilTelefonoServiceService">
		<wsdl:port binding="impl:PerfilTelefonoServiceSoapBinding" name="PerfilTelefonoService">
			<wsdlsoap:address location="http://servportabilidad.telcel.com:80/D14_PortabilidadWebServices/services/PerfilTelefonoService"/>
			<!-- <wsdlsoap:address location="http://191.9.3.249:8088/D14_PortabilidadWebServices/services/PerfilTelefonoService"/> -->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>