D16_ServiciosTelcelLib/imei/ImeisACWS_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><schema targetNamespace="http://ws.imeisac.dsaf.gsa.telcel.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:impl="http://ws.imeisac.dsaf.gsa.telcel.com" xmlns:intf="http://ws.imeisac.dsaf.gsa.telcel.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            	 	 	<element ibmSchExtn:docRoot="true" name="ConsultaImeiACResponse">
		<complexType>
		 <sequence>
			<element name="ConsultaImeiACReturn" nillable="true" type="string"/>
		 </sequence>
		</complexType>
	 </element>
            <element ibmSchExtn:docRoot="true" name="ConsultaImeiAC">
		<complexType>
		 <sequence>
			<element name="consImei" nillable="true" type="string"/>
		 </sequence>
		</complexType>
	 </element>
        </schema>